# Ignorer les fichiers de données bruts
data/raw/tickets.csv
data/processed/tickets_processed.csv
# Ignorer les fichiers temporaires et caches
.dvc/cache/
.dvc/tmp/
*.pyc
__pycache__/
# Ignorer les fichiers MLflow locaux
mlruns/
